<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/css/bootstrap.css"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
</head>
<body>
    <section>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-info text-center">All questions and answers</h1>
                {% for message in get_flashed_messages() %}
                <p class="text-success text-center">{{ message }}</p>
                {% endfor %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for question in questions %}
                        <tr>
                            <td>{{ question.name }}</td>
                            <td>{{ question.answer }}</td>
                            <td><a class btn btn-danger href="delete/{{question.id}}">Delete</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-3"></div>
        </div>
    </section>
</body>
</html>